absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyascii
anyio
async-timeout
attrs
audioread
babel
backoff
bangla
bcrypt
blinker
blis
bnnumerizer
bnunicodenormalizer
Brotli
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
chromadb
click
clickhouse-connect
cloudpathlib
colorama
coloredlogs
confection
contourpy
coqpit
coqpit-config
coqui-tts
coqui-tts-trainer
cryptography
cup
cycler
cymem
Cython
dataclasses
dateparser
decorator
distro
dnspython
docopt
duckdb
einops
email_validator
encodec
exceptiongroup
fastapi
fastapi-cli
filelock
Flask
flatbuffers
fonttools
frozenlist
fsspec
g2pkk
gitdb
GitPython
greenlet
grpcio
gruut
gruut-ipa
gruut_lang_de
gruut_lang_en
gruut_lang_es
gruut_lang_fr
gTTS
gunicorn
h11
h2
hangul-romanize
hnswlib
hpack
httpcore
httptools
httpx
huggingface_hub
humanfriendly
hyperframe
idna
inflect
itsdangerous
jamo
jieba
Jinja2
jiter
joblib
jsonlines
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-core
langchain-text-splitters
langcodes
langdetect
langsmith
language_data
lazy_loader
librosa
llvmlite
lxml
lz4
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
monotonic
monotonic-alignment-search
more-itertools
mpmath
msgpack
multidict
murmurhash
mutagen
narwhals
networkx
nltk
num2words
numba
numpy
onnxruntime-gpu
openai
orjson
overrides
packaging
pandas
paramiko
pexpect
pillow
pip
platformdirs
pooch
posthog
preshed
propcache
protobuf
psutil
ptyprocess
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyNaCl
pynndescent
pyparsing
pypdf
PyPDF2
pypinyin
pyreadline3
pysbd
PySocks
pytesseract
python-crfsuite
python-dateutil
python-docx
python-multipart
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rich-toolkit
rpds-py
safetensors
scikit-learn
scipy
setuptools
shellingham
six
smart-open
smmap
sniffio
soundfile
soxr
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
streamlit
SudachiDict-core
SudachiPy
sympy
tea
tenacity
tensorboard
tensorboard-data-server
thinc
threadpoolctl
tiktoken
tokenizers
toml
torch
torchaudio
tornado
tqdm
trainer
transformers
typeguard
typer
typer-slim
typing_extensions
typing_utils
tzdata
tzlocal
umap-learn
Unidecode
urllib3
uvicorn
wasabi
watchdog
watchfiles
weasel
websockets
Werkzeug
wheel
win_inet_pton
wrapt
yarl
zstandard
