<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>AI Text Summarizer</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/stylesheet.css')}}">
    </head>

    <body>
        <div class="header-bar">GenAI Text Summarizer</div>

        <div class="container">
            <!-- Text Input Section -->
             <div class="text-box input-container">
                <textarea id="textToSummarize" name="text_to_summarize" placeholder="Paste in some text to summarize (Min length is 200 chars, Max length is 15,000 chars.)" maxlength="15000"></textarea>
                <span id="clearBtn" class="clear-btn" onclick="clearText()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg>
                </span>

                <!-- Upload Button & Word Counts Section-->
                <div class="text-box-footer">
                    <label for="file-upload" class="upload-file-button" id="uploadBtn">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </span>
                        <input type="file" id="file-upload" hidden/>
                        <span>Upload</span>
                    </label>

                    <span id="wordCount" style="display: none;"></span>

                    <!-- Summarize Button Section -->
                    <button id="submitBtn" class="submit-button">
                        <span class="submit-button-text">Summarize</span>
                    </button>
                </div> 
             </div>

             <!-- Summary Output Section -->
            <div class="text-box input-container">
                <textarea id="summary" name="summarized_text" placeholder="Summarized text will appear here" disabled></textarea>
                <div class="summarized-foot">
                    <span id="summarizedWordCount" style="display: none;"></span>
                </div>
            </div>
        </div>

        <div class="bottom">
            <p class="intro">Welcome to the AI Text Summarizer</p>
            <p class="explain">
                This app leverages the power
                of Artificial Intelligence APIs to provide concise summaries of long texts.
                Whether you have a lengthy article, research paper, or any other document
                that you want to summarize quickly, our website can assist you.
            </p>
            <p class="intro">
                Simply paste your text into the text area below and click the "Summarize" button
            </p>
        </div>

        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </body>
</html>
